TRNBulletHell/.vs/TRNBulletHell/v16/.suo
TRNBulletHell/obj/Debug/netcoreapp3.1/TRNBulletHell.GeneratedMSBuildEditorConfig.editorconfig
TRNBulletHell/obj/Debug/netcoreapp3.1/TRNBulletHell.assets.cache
